* {
  margin: 0;
  padding: 0;
}

.Container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 900px;
  align-items: center;
  border: 1px solid;
  transition: transform 0.3s ease-in-out;
}


p {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 40px;
  gap: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

img {
  width: 400px;
  height: 300px;
  /* animation: show 1s forwards; */
  transition: transform 0.3s ease-in-out;
  
  transform-origin: top left;
  
  &:hover{
    transform: scale(1.5);
    
  }
}


@keyframes show {
  0%{
    opacity: 0;
    transform: rotateX(-45deg) translateY(-150px);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg) translateY(0px);
  }
}